.font-Arial {
  font-family: Arial, sans-serif;
}

.font-MuseoSans {
  font-family: "Museo Sans", sans-serif;
}

.font-Simplifica {
  font-family: "Simplifica", sans-serif;

  p {
    font-size: 3vh;
  }

  h1 {
    font-size: 8vh;
  }

  h2 {
    font-size: 6vh;
  }

  h3 {
    font-size: 4.5vh;
  }
}

.font-Gidole {
  font-family: "Gidole", sans-serif;
}

.font-Corbert {
  font-family: "Corbert", sans-serif;
}

.font-Raleway {
  font-family: "Raleway", sans-serif;
}

.font-Infinity {
  font-family: "Infinity", sans-serif;
  letter-spacing: 1.5px;

  p, h1, h2, h3 {
    font-weight: 800;
  }

  p {
    font-size: 2.25vh;
  }
}

.font-Butler {
  font-family: "Butler", serif;
  letter-spacing: 1px;

  p {
    font-size: 2vh;
  }
}
