$forestGreen: #1bab68;
$deepBlue: #29518a;
$gold: #d4af37;
$gray: #444444;
$softDark: #2c3037;
$topSpacing: 10vh;
$bottomSpacing: 10vh;
$sidePadding: 8vw;

.storyweb-app {
    h1, h2, h3 {
        text-align: center;
        padding-top: 1vh;
    }

    p {
        text-align: justify;
        margin: 3vh $sidePadding;
    }

    p.byline {
        text-align: center;
        margin-top: auto;
    }

    .taCenter {
        text-align: center;
    }

    hr {
        margin: 3vh 20vw;
    }

    #backdrop {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-size: cover;
        z-index: -1;
    }

    #style-wrapper {
        padding-top: $topSpacing;
        padding-bottom: $bottomSpacing;
    }

    #style-wrapper > .textBg {
        padding-top: 2vh;
        padding-bottom: 5vh;
    }

    .doctable {
        border: 1px solid;
        table-layout: fixed;
    }

    .doctable, .articleTable {
        width: 100%;

        td, th, p {
            text-align: center;
            font-size: 2.25vh;
            padding: 10px;
        }

        thead {
            border-bottom: 1px solid;
        }
    }

    .articleTable p {
        margin: 0;
    }

    .articleSection, .storiesSection {
        padding: 0 $sidePadding;

        h3 {
            text-align: left;
        }
    }

    .articleFrame {
        h2 {
            border-bottom: 1px solid white;
        }

        h2, h3 {
            text-align: left;
            margin: 0 $sidePadding;
        }
    }

    .infoPanel {
        border: 1px solid;

        img {
            width: 100%;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        td {
            padding: 10px;
            text-align: left;
        }

        .infoPanelTitle {
            margin: 0;
            text-align: center;
            font-size: larger;
        }
    }

    .serialTile {
        padding: 0 $sidePadding;

        h3, p {
            text-align: left;
            margin: 0;
            padding-top: 0;
        }

        .serialTileImage {
            width: 100%;
            padding-top: 100%;
            position: relative;
            background-position: center;
            background-size: cover;
        }
    }

    .serialTopImage {
        max-width: 100%;
        max-height: 40vh;
        display: block;
        margin: 0 auto;
    }

    // Colors

    .theme-light {
        p, h1, h2, h3 {
            color: $softDark;
        }

        hr, .doctable, .doctable thead, .infoPanel {
            border-color: $gray;
        }

        .textBg {
            background-color: white;
        }
    }
    .theme-dark {
        p, h1, h2, h3, th, td {
            color: white;
        }

        hr, .doctable, .doctable thead, .infoPanel {
            border-color: white;
        }

        .textBg {
            background-color: $softDark;
        }
    }

    .bg-gray {
        background-color: $gray;
    }

    .linkColor-deep-blue a {
        color: $deepBlue;
    }

    .linkColor-forest-green a {
        color: $forestGreen;
    }

    .highlightColor-gold .highlight {
        color: $gold;
    }

    .blockColor-deep-blue .blockColor {
        background-color: $deepBlue;
    }

    .blockColor-gray .blockColor {
        background-color: $gray;
    }

    a.broken {
        color: red;
    }
}

.storyweb-app > div > div.container {
    min-height: #{100vh - $topSpacing - $bottomSpacing};
}